*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --clr-1: hsl(240deg 85% 45%) 0%;
  --clr-2: hsl(209, 90%, 42%) 10%;
  --clr-3: hsl(257, 40%, 48%) 20%;
  --clr-4: hsl(261deg 98% 35%) 30%;
  --clr-5: hsl(265deg 100% 33%) 40%;
  --clr-6: hsl(204, 100%, 30%) 50%;
  --clr-7: hsl(172, 100%, 28%) 60%;
  --clr-8: hsl(274deg 100% 26%) 70%;
  --clr-9: hsl(277, 32%, 33%) 80%;
  --clr-10: hsl(59, 85%, 45%) 90%;
  --clr-11: hsl(250, 79%, 59%) 100%;
  --gradient-01: linear-gradient(
    90deg,
    hsl(240deg 85% 45%) 0%,
    hsl(250deg 90% 42%) 10%,
    hsl(257deg 94% 38%) 20%,
    hsl(261deg 98% 35%) 30%,
    hsl(265deg 100% 33%) 40%,
    hsl(268deg 100% 30%) 50%,
    hsl(271deg 100% 28%) 60%,
    hsl(274deg 100% 26%) 70%,
    hsl(276deg 100% 24%) 80%,
    hsl(279deg 99% 22%) 90%,
    hsl(281deg 94% 21%) 100%
  );
  --gradient-02: linear-gradient(
    45deg,
    hsl(240deg 85% 45%) 0%,
    hsl(209, 90%, 42%) 10%,
    hsl(257, 40%, 48%) 20%,
    hsl(261deg 98% 35%) 30%,
    hsl(265deg 100% 33%) 40%,
    hsl(204, 100%, 30%) 50%,
    hsl(172, 100%, 28%) 60%,
    hsl(274deg 100% 26%) 70%,
    hsl(277, 32%, 33%) 80%,
    hsl(59, 85%, 45%) 90%,
    hsl(250, 79%, 59%) 100%
  );
}

body {
  font-family: "Poppins", sans-serif;
  color: #d4d4d4;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  padding: 1.75em 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  height: 100vh;
  perspective: 100px;
  background: rgb(1, 8, 22);
  background: -moz-linear-gradient(0deg, rgb(1, 8, 22) 80%, rgb(10, 2, 37) 98%);
  background: -webkit-linear-gradient(0deg, rgb(1, 8, 22) 80%, rgb(10, 2, 37) 98%);
  background: linear-gradient(0deg, rgb(1, 8, 22) 80%, rgb(10, 2, 37) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010816",endColorstr="#040e2f",GradientType=1);
}
.wrapper::after {
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
  right: -5%;
  top: 90%;
  transform: rotateZ(-4deg);
  transform-origin: 0 0;
  background: #8b77fc;
  box-shadow: 0 0 80px 120px #0a0025;
}

/* HEADER: NAVBAR */
header {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  animation: navbar 1s ease-in-out forwards;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-left: 10px solid #8b77fc;
  padding: 0.65em 1.25em;
  border-radius: 8px;
  background: rgba(236, 236, 236, 0.1176470588);
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
}
header nav ul li a,
header nav li li a {
  text-decoration: none;
  color: #ececec;
  font-size: inherit;
  transition: all 0.3s ease-in-out;
  position: relative;
}
header nav ul li a::after,
header nav li li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #8b77fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
header nav ul li a:hover,
header nav li li a:hover {
  color: #8b77fc;
}
header nav ul li a:hover::after,
header nav li li a:hover::after {
  transform: scaleX(1);
}
header nav .logo {
  text-align: center;
  letter-spacing: 0.075em;
  font-size: 0.85rem;
  color: #ececec;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-radius: 5px;
  box-shadow: inset 0 0 2px 2px rgba(219, 219, 219, 0.0823529412);
  background-image: var(--gradient-01);
}
header nav .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-right: 0.75em;
}
header nav .navbar li + li {
  border-left: 1px solid rgba(207, 207, 207, 0.2549019608);
  padding: 0 0 0 3em;
}

/* MAIN: HERO SECTION */
main {
  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
main .hero-image--container {
  width: 25%;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: hero-image 1s ease-in-out 0.5s forwards;
}
main .hero-image--container::after {
  filter: blur(3.5rem);
}
main .hero-image--container .hero-image {
  padding: 0;
  border-radius: 50%;
  border: 5px solid #8b77fc;
}
main .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: main-content 1s ease-in-out 1s forwards;
}
main .main-content .main-title {
  font-size: 5.5vw;
  font-weight: 600;
  letter-spacing: 0.03em;
}
main .main-content .gradient {
  font-size: 6.5vw;
  font-weight: 700;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: rgba(255, 255, 255, 0.322);
  background-image: var(--gradient-02);
  background-position: left;
  transition: background-position 2s ease;
}
main .main-content .gradient:hover, main .main-content .gradient:focus {
  background-position: right;
}
main .main-content p {
  font-size: 2.75vw;
  letter-spacing: 0.075em;
  white-space: nowrap;
  color: #ececec;
  margin: 0;
  padding: 1em;
  border-top: 1px solid rgba(207, 207, 207, 0.2549019608);
}

section {
  max-width: 1200px;
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 2.5em;
}

.section-box {
  width: 33vw;
  height: 40vh;
  background: rgba(236, 236, 236, 0.1176470588);
  border-radius: 8px;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  padding: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2px 2px rgba(219, 219, 219, 0.0823529412);
  position: relative;
  opacity: 0;
  animation: boxes 2s ease-in-out 1s forwards;
}

/* ANIMATIONS */
@keyframes navbar {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hero-image {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes main-content {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes boxes {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animate {
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/* MEDIA QUERIES */
@media (min-width: 1000px) {
  main {
    justify-content: center;
  }
  main .hero-image--container {
    margin-right: 2.5em;
  }
  main .main-content {
    margin-left: 2.5em;
  }
}
@media (min-width: 2000px) {
  main .main-content .main-title {
    font-size: 4vw;
  }
  main .main-content .gradient {
    font-size: 5vw;
  }
  main .main-content p {
    font-size: 2vw;
  }
}/*# sourceMappingURL=styles.css.map */