*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

:root {
  --clr-1: hsl(240deg 85% 45%) 0%;
  --clr-2: hsl(209, 90%, 42%) 10%;
  --clr-3: hsl(257, 40%, 48%) 20%;
  --clr-4: hsl(261deg 98% 35%) 30%;
  --clr-5: hsl(265deg 100% 33%) 40%;
  --clr-6: hsl(204, 100%, 30%) 50%;
  --clr-7: hsl(172, 100%, 28%) 60%;
  --clr-8: hsl(274deg 100% 26%) 70%;
  --clr-9: hsl(277, 32%, 33%) 80%;
  --clr-10: hsl(59, 85%, 45%) 90%;
  --clr-11: hsl(250, 79%, 59%) 100%;
  --gradient-01: linear-gradient(
    90deg,
    hsl(240deg 85% 45%) 0%,
    hsl(250deg 90% 42%) 10%,
    hsl(257deg 94% 38%) 20%,
    hsl(261deg 98% 35%) 30%,
    hsl(265deg 100% 33%) 40%,
    hsl(268deg 100% 30%) 50%,
    hsl(271deg 100% 28%) 60%,
    hsl(274deg 100% 26%) 70%,
    hsl(276deg 100% 24%) 80%,
    hsl(279deg 99% 22%) 90%,
    hsl(281deg 94% 21%) 100%
  );
  --gradient-02: linear-gradient(
    45deg,
    hsl(240deg 85% 45%) 0%,
    hsl(209, 90%, 42%) 10%,
    hsl(257, 40%, 48%) 20%,
    hsl(261deg 98% 35%) 30%,
    hsl(265deg 100% 33%) 40%,
    hsl(204, 100%, 30%) 50%,
    hsl(172, 100%, 28%) 60%,
    hsl(274deg 100% 26%) 70%,
    hsl(277, 32%, 33%) 80%,
    hsl(59, 85%, 45%) 90%,
    hsl(250, 79%, 59%) 100%
  );
}

body {
  font-family: "Poppins", sans-serif;
  color: #d4d4d4;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  padding: 1.75em 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  min-height: 100vh;
  perspective: 100px;
  background-color: rgb(1, 8, 22);
  background: -moz-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: linear-gradient(0deg, rgba(1, 8, 22, 1) 80%, rgb(10, 2, 37) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010816",endColorstr="#040e2f",GradientType=1);
  --slide-01: slide-up-bounce 1.75s ease-in 1s forwards;
  // --slide-02: slide-down 1.75s ease-in-out forwards;

  &::after {
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transition: transform 1s ease-in-out;
    transform-origin: 0 0;
    background: #8b77fc;
    box-shadow: 0 0 80px 120px #0a0025;
    opacity: 0;
    animation: var(--slide-02, slide-up-bounce 1.75s ease-in 1s forwards);
  }
}

/* HEADER: NAVBAR */
header {
  position: relative;
  width: 75%;
  margin: 1em 0 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    border: 1px solid #cfcfcf41;
    border-left: 10px solid #8b77fc;
    padding: 0.65em 1.25em;
    border-radius: 8px;
    background: #ececec1e;
    animation: navbar 1s ease-in-out forwards;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
    }

    ul,
    li {
      margin: 0;
      padding: 0;

      li a {
        text-decoration: none;
        color: #ececec;
        font-size: inherit;

        transition: all 0.3s ease-in-out;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #8b77fc;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          color: #8b77fc;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .logo {
      text-align: center;
      letter-spacing: 0.075em;
      font-size: 0.85rem;
      color: #ececec;
      padding: 0.5em 0.75em;
      border: 1px solid #cfcfcf41;
      border-radius: 5px;
      box-shadow: inset 0 0 2px 2px #dbdbdb15;
      background-image: var(--gradient-01);
    }

    .navbar {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      li {
        margin: 0;
        padding: 0;
        width: 110px;
        text-align: center;
      }

      li + li {
        border-left: 1px solid #cfcfcf41;
      }
    }
  }

  nav:nth-child(2) {
    width: auto;
    border-right: 10px solid #8b77fc;
    border-left: 1px solid #cfcfcf41;
    opacity: 0;
    animation-delay: 0.5s;
  }

  li + li {
    margin-left: 1em;
    padding: 0.325em 0;
  }
}

/* MAIN: HERO SECTION */
main {
  width: 85%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 0.75em 0;
  padding: 0;

  // .hero-image--container {
  //   width: 25%;
  //   margin: 0;
  //   padding: 0;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   position: relative;
  //   opacity: 0;
  //   animation: hero-image 1s ease-in-out 0.5s forwards;

  //   &::after {
  //     filter: blur(3.5rem);
  //   }

  //   .hero-image {
  //     padding: 0;
  //     border-radius: 50%;
  //     border: 5px solid #8b77fc;
  //   }
  // }

  /** GRADIENT HERO IMAGAGE */
  .image-wrapper {
    position: relative;
    width: 16em;
    height: 16em;
    margin: 0 2em 0 0;
    padding: 0;
    transition: all 1s ease;
    // opacity: 0;
    // animation: hero-image 1s ease 0.5s forwards;

    &::after {
      content: "";
      position: absolute;
      top: 3%;
      left: 3.5%;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-image: url("../images/MG_Avatar.jpg");
      background-size: cover;
      opacity: 0.6;
      box-shadow: 0 0 30px 50px #837aa83b;
    }
    .gradient-container {
      height: 17em;
      width: 17em;
      margin: auto;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      animation: spin 8s infinite linear;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 50%;
        backdrop-filter: blur(2.1em);
      }

      &::after {
        position: absolute;
        content: "";
        height: 95%;
        width: 95%;
        background-color: rgb(1, 8, 22);
        top: 2.5%;
        left: 2.5%;
        border-radius: 50%;
        opacity: 0.5;
        animation: no-rotate 10s infinite linear;
      }

      div {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        animation: scale-up infinite;

        &::after {
          filter: blur(10rem);
        }
      }

      div:nth-child(1) {
        height: 90%;
        width: 100%;
        background-color: hsl(240deg 85% 45%);
        left: -5%;
        top: -5%;
        animation-duration: 2s;
        animation-delay: 3s;
      }

      div:nth-child(2) {
        height: 80%;
        width: 70%;
        background-color: hsl(209, 90%, 42%);
        top: 15%;
        right: -15%;
        animation-duration: 10s;
        animation-delay: 7s;
      }

      div:nth-child(3) {
        height: 65%;
        width: 80%;
        background-color: hsl(293, 40%, 48%);
        bottom: -30%;
        right: -20%;
        animation-duration: 4s;
        animation-delay: 2.2s;
      }

      div:nth-child(4) {
        height: 50%;
        width: 75%;
        background-color: hsl(261deg 98% 35%);
        bottom: -5%;
        left: 8%;
        animation-duration: 7s;
        animation-delay: 6s;
      }

      div:nth-child(5) {
        height: 40%;
        width: 55%;
        background-color: hsl(214, 75%, 61%);
        top: 50%;
        left: 0;
        animation-duration: 2.5s;
        animation-delay: 4s;
      }

      div:nth-child(6) {
        height: 25%;
        width: 55%;
        background-color: hsl(295, 86%, 44%);
        top: 45%;
        left: -15%;
        animation-duration: 9s;
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: main-content 1s ease-in-out 1s forwards;

    .main-title {
      font-size: 5.5vw;
      font-weight: 600;
      letter-spacing: 0.03em;
      cursor: pointer;
    }

    .gradient {
      font-size: 6.5vw;
      font-weight: 700;
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px transparent;
      color: rgba(255, 255, 255, 0.322);
      background-image: var(--gradient-02);
      background-position: left;
      transition: background-position 2s ease;

      &:hover,
      &:focus {
        background-position: right;
      }
    }

    p {
      font-size: 2.75vw;
      letter-spacing: 0.075em;
      white-space: nowrap;
      color: #ececec;
      margin: 0;
      padding: 1em;
      border-top: 1px solid #cfcfcf41;
    }
  }
}

section {
  max-width: 1200px;
  margin: 3em 0 4em;
  display: flex;
  justify-content: space-between;
  gap: 2.5em;

  .section-box {
    width: 33.3vw;
    height: 40vh;
    background: #ececec1e;
    border-radius: 8px;
    border: 1px solid #cfcfcf41;
    padding: 0.2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset 0 0 2px 2px #dbdbdb15;
    position: relative;
    opacity: 0;
    transition: all 0.4s ease;
    overflow: hidden;
    animation: boxes 2s cubic-bezier(0.42, 0, 0, 1.71) 2.4s forwards,
      pulse 4s infinite 4.25s;

    &:hover {
      animation-play-state: paused;
      box-shadow: 0px 0px 20px 10px rgba(71, 71, 71, 0.5);
      border-color: #8b77fca9;
      padding: 0;

      .box-banner {
        opacity: 1;
        transition: opacity 0.4s ease;
      }

      img {
        height: 40%;
        filter: grayscale(100%) blur(2px);
        opacity: 0.5;
        z-index: -1;
        transform: scale(1.5);
        transition: height transform 0.8s ease;
      }

      .box-text {
        height: 100%;
        padding: 1.25em 1em 1.25em 1.2em;
        border-top: 1px solid #8b77fca9;
        background-image: linear-gradient(
          0deg,
          hsl(249deg 96% 73%) 0%,
          hsl(250deg 71% 66%) 1%,
          hsl(251deg 54% 60%) 4%,
          hsl(252deg 42% 53%) 7%,
          hsl(253deg 37% 47%) 10%,
          hsla(254, 38%, 41%, 0.945) 14%,
          hsla(255, 39%, 35%, 0.877) 20%,
          hsla(256, 40%, 30%, 0.74) 26%,
          hsla(257, 41%, 24%, 0.63) 34%,
          hsla(258, 42%, 19%, 0.373) 44%,
          hsla(260, 46%, 14%, 0.352) 59%,
          hsla(269, 66%, 8%, 0.352) 99%
        );
        z-index: 1;
        transition: height border-top 2.5s ease, background-image 0.2s ease;

        h2 {
          margin-bottom: 0.25em;
          color: #8b77fc;
        }

        p {
          opacity: 1;
          transition: opacity 0.8s ease-in-out;
        }
      }
    }

    .box-banner {
      color: #8b77fc;
      text-transform: uppercase;
      position: absolute;
      top: 12px;
      right: 20px;
      border-radius: 5px;
      border: 1px solid #cfcfcf41;
      border-right: 7px solid #8b77fc;
      box-shadow: inset 0 0 2px 2px #dbdbdb15;
      padding: 0.25em 1em;
      background-image: var(--gradient-01);
      font-size: 0.9rem;
      text-align: center;
      letter-spacing: 0.15em;
      font-weight: 500;
      opacity: 0.8;
      z-index: 1;
      transition: all 0.4s ease;
    }

    img {
      width: 100%;
      height: 65%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 5px solid #cfcfcf7a;
      margin-bottom: 1em;
      padding-bottom: 0.2em;
      filter: brightness(50%) grayscale(0);
      transition: all 1s ease;
      z-index: -1;
    }

    .box-text {
      position: relative;
      height: 50px;
      margin: 0;
      padding: 0 1em;
      display: flex;
      flex-direction: column;
      border-top: none;
      transition: all 0.4s ease;
      z-index: 10;

      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }

      h2 {
        font-weight: 500;

        &:hover {
          color: #a698f8;
          transition: color 0.4s ease;
        }
      }

      p {
        font-size: 0.9rem;
        line-height: 1.75;
        margin: 0;
        opacity: 0;
        text-align: justify;

        span {
          color: #8b77fc;

          &:hover {
            color: #a698f8;
            transition: color 0.4s ease;
          }
        }
      }
    }
  }

  .section-box:nth-child(2) {
    animation: boxes 2s cubic-bezier(0.42, 0, 0, 1.71) 3.1s forwards,
      pulse 4s infinite 5s;

    &:hover {
      animation-play-state: paused;
    }
  }
}

/* FOOTER SECTION */
.footer {
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;
  opacity: 0;
  animation: var(--slide-03, slide-up-content 1s ease-in-out 1.5s forwards);

  p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #342b66;

    span {
      padding-left: 0.25em;
      border-left: 2.5px solid #342b668e;
    }
  }
}

/* ANIMATIONS */
@keyframes navbar {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hero-image {
  100% {
    opacity: 1;
  }
}

@keyframes main-content {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes boxes {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.0275);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slide-up-bounce {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  85% {
    transform: rotateZ(-5.25deg);
  }
  90% {
    transform: rotateZ(-4.25deg);
  }
  95% {
    transform: rotateZ(-4.5deg);
  }
  100% {
    transform: rotateZ(-4deg) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-nobounce {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: rotateZ(-4deg) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-content {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: rotateZ(-4deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg) translateY(100px);
    opacity: 0;
  }
}

@keyframes slide-down-content {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes animate {
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-up {
  50% {
    transform: scale(1.8);
  }
}

/* MEDIA QUERIES */
@media (min-width: 1000px) {
  main {
    justify-content: center;

    .hero-image--container {
      margin-right: 2.5em;
    }

    .main-content {
      margin-left: 2.5em;
    }
  }
}

@media (min-width: 2000px) {
  header {
    width: 70%;
  }

  main {
    .main-content {
      .main-title {
        font-size: 4vw;
      }

      .gradient {
        font-size: 5vw;
      }

      p {
        font-size: 2vw;
      }
    }
  }
}

@media (min-width: 2500px) {
  header {
    width: 55%;
  }
}
